/* Element Styling */
body {
	margin: 0;
	background: rgba(246, 246, 246, 0.8);
	font-family: "DM Sans", sans-serif;
}

section {
	min-height: 100vh;
	min-width: 100vw;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

h1 {
	font-family: "DM Serif Text", serif;
	font-size: 100px;
	font-weight: lighter;
}

h2 {
	font-weight: bold;
}

h3 {
	margin: 10px auto 20px auto;
	font-weight: 600;
	font-size: 30px;
}

a {
	text-decoration: none;
	color: #121212;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
	font-size: small;
	text-transform: uppercase;
}

input {
	margin: 10px auto;
	padding: 0 10px;
	display: block;
	height: 35px;
	width: 85%;
	border-radius: 5px;
	border: none;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

label {
	font-size: 14px;
	font-weight: 500;
}

button {
	font-family: "DM Sans", sans-serif;
	color: #121212;
}

button:hover {
	cursor: pointer;
}

/* Hero Styling */

.hero-container {
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.257),
			rgba(255, 255, 255, 0.267)
		),
		url(assets/hero-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.hero-nav {
	display: flex;
}

.hero-nav button {
	width: 100px;
	height: 100px;
	margin: 10px;
	border-radius: 10px;
	border: 1px solid #aeaeae;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.257);
	background: transparent;
	backdrop-filter: blur(6px);
	padding: 10px;
	font-weight: 500;
	transition: all 200ms ease-in-out;
}

.hero-nav button:hover {
	background: #121212;
	animation: color-changes 2s ease-in alternate-reverse infinite;
	transform: scale(1.08);
}

.hero-nav i {
	font-size: 28px;
	margin-bottom: 5px;
	display: block;
}

.hero-desc {
	width: 580px;
	margin: 16px;
	font-size: 14px;
	max-width: 100%;
}

/* House Toggle Section */
.house-selection-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.house-heading {
	flex-basis: 100%;
	align-self: flex-end;
	margin: 15px auto;
}

.house-heading p {
	width: 500px;
	margin: 0 auto;
}

.expand-houses {
	flex-basis: 100%;
	margin: 15px auto;
	padding: 10px 25px;
	font-weight: 600;
	border-radius: 10px;
	border: none;
	border: 1px solid #aeaeae;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.257);
}

.expand-houses:hover {
	background: #121212;
	animation: color-changes 2s ease-in alternate-reverse infinite;
	transform: scale(1.08);
}

.house-option {
	border: 1px solid;
	color: white;
	margin: 10px;
	padding: 20px 30px;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.257);
	border-radius: 10px;
	border: none;
	transition: all 150ms ease-in;
	animation: house-bg 25s ease-in alternate-reverse infinite;
	filter: grayscale(0.6);
	align-self: flex-start;
}

.house-option a {
	color: white;
}

.house-option img {
	width: 250px;
	filter: invert(100%) sepia(0%) saturate(7438%) hue-rotate(144deg)
		brightness(107%) contrast(105%);
}

.house-option li {
	display: none;
	background: rgba(0, 0, 0, 0.6);
	margin: 4px 40px;
	padding: 2px 5px;
	border-radius: 10px;
}

.house-option:hover li {
	display: block;
}

.house-option:hover {
	transform: scale(1.1);
	filter: grayscale(0);
	cursor: pointer;
}

#gryffindor-btn img {
	filter: invert(47%) sepia(8%) saturate(2823%) hue-rotate(311deg)
		brightness(107%) contrast(95%);
}

#slytherin-btn img {
	filter: invert(30%) sepia(63%) saturate(3585%) hue-rotate(154deg)
		brightness(84%) contrast(85%);
}

#ravenclaw-btn img {
	filter: invert(42%) sepia(6%) saturate(5725%) hue-rotate(156deg)
		brightness(98%) contrast(79%);
}
#hufflepuff-btn img {
	filter: invert(71%) sepia(43%) saturate(507%) hue-rotate(12deg)
		brightness(97%) contrast(86%);
}

#gryffindor-btn {
	background: url(/background/gryffindor.png);
	background-size: cover;
}

#slytherin-btn {
	background: url(/background/slytherin.png);
	background-size: cover;
}

#ravenclaw-btn {
	background: url(/background/ravenclaw.png);
	background-size: cover;
}

#hufflepuff-btn {
	background: url(/background/hufflepuff.png);
	background-size: cover;
}

@keyframes house-bg {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

/* House Cards Expanded */
.house-content-expanded {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(5px);
	border-radius: 10px;
	padding: 15px 30px;
	color: white;
	text-align: center;
}

.house-content-expanded li {
	display: inline;
	padding: 5px 10px;
	border-radius: 20px;
	font-weight: 500;
	text-transform: capitalize;
}

#gryffindor .house-content-expanded {
	background: linear-gradient(
		180deg,
		rgba(154, 54, 50, 0.8) 0%,
		rgba(88, 46, 47, 0.9) 100%
	);
}

#gryffindor li {
	background: #6e2427;
}

#slytherin .house-content-expanded {
	background: linear-gradient(
		180deg,
		rgba(20, 79, 69, 0.9) 0%,
		rgba(24, 66, 43, 0.9) 100%
	);
}

#slytherin li {
	background: #0a3122;
}

#ravenclaw .house-content-expanded {
	background: linear-gradient(
		180deg,
		rgba(36, 65, 105, 0.9) 0%,
		rgba(21, 36, 59, 0.9) 100%
	);
}

#ravenclaw li {
	background: #121555;
}

#hufflepuff .house-content-expanded {
	background: linear-gradient(
		179.97deg,
		rgba(149, 101, 26, 0.9) 0.03%,
		rgba(61, 47, 21, 0.9) 137.15%
	);
}

#hufflepuff li {
	background: #6a5a17;
}

.house-wrapper {
	align-items: center;
	justify-content: center;
	margin: 35px 10px 10px 10px;
	flex-basis: 100%;
}

.house-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}

.house-desc p {
	width: 400px;
	margin-top: 10px;
}

.house-desc img {
	width: 350px;
}

/* Avatars in House Cards Expanded */
.avatars {
	text-align: center;
}

.avatars img {
	transition: all 200ms ease-in;
}

.avatars img:hover {
	transform: scale(1.2);
}

.raven-alumni {
	width: 75px;
	border: 7px solid #0e136c;
	border-radius: 50px;
	margin: 5px 5px;
}

.slyth-alumni {
	width: 75px;
	border: 7px solid #0a3122;
	border-radius: 50px;
	margin: 5px 5px;
}

.gryff-alumni {
	width: 75px;
	border: 7px solid #891b1e;
	border-radius: 50px;
	margin: 5px 5px;
}

.huffle-alumni {
	width: 75px;
	border: 7px solid #947c19;
	border-radius: 50px;
	margin: 5px 5px;
}

/* Course Listing Section */
.course-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.course-heading {
	text-align: center;
	margin-bottom: 10px;
}

.course-listing-container {
	display: grid;
	grid-template-columns: repeat(5, auto);
	align-items: center;
	justify-content: center;
	gap: 25px;
	margin: 20px;
}

.course-listing {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 1px solid #aeaeae;
	border-radius: 10px;
	background: transparent;
	text-align: center;
	padding: 5px;
	width: 120px;
	height: 120px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.257);
	transition: all 200ms ease-in;
}

.course-listing i {
	display: block;
	font-size: 26px;
	margin-bottom: 7px;
}

.course-listing p {
	font-size: 12px;
	display: none;
	margin: 0;
}

.course-listing:hover {
	background: #121212;
	font-weight: bold;
	animation: color-changes 2s ease-in alternate-reverse infinite;
	cursor: pointer;
}

.course-listing:hover p {
	display: block;
}

.course-listing:hover span {
	display: none;
}

.course-note {
	margin: 10px auto;
	width: 80%;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.725);
}

/* Footer Section & Credits */

.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.footer-container h2 {
	margin-bottom: 20px;
}

.credits {
	margin: 50px;
	font-size: 14px;
}

.credits a {
	color: #0e136c;
}

.credits a:hover {
	color: rgba(0, 0, 0, 0.65);
}

/* Footer: Form-Specific */
.form-container {
	background: rgba(21, 36, 59, 0.9);
	border-radius: 8px;
	color: white;
	padding: 24px 50px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.submission-response {
	width: 315px;
	font-weight: 400;
	font-size: 12px;
	margin: 0 auto;
	padding: 4px;
}

#apply-btn,
#status-check-btn {
	font-weight: 600;
	margin: 10px;
	width: 150px;
	padding: 14px 20px;
	border-radius: 10px;
	border: none;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.257);
}

#apply-btn {
	background: rgba(149, 101, 26, 0.9);
	color: rgb(238, 238, 238);
}

#status-check-btn {
	background: rgb(205, 200, 200);
}

#apply-btn:hover,
#status-check-btn:hover {
	background: #121212;
	animation: color-changes 2s ease-in alternate-reverse infinite;
	transform: scale(1.08);
}

/* Hover Animation for Button & Cards */
@keyframes color-changes {
	0% {
		color: #ffd700;
	}
	25% {
		color: #ad9e1a;
	}
	50% {
		color: #4cbc58;
	}
	75% {
		color: #6a9be9;
	}
	100% {
		color: #e03a3a;
	}
}

/* Media Queries */
@media only screen and (max-width: 840px) {
	.course-listing-container {
		grid-template-columns: repeat(auto-fit, 120px);
	}
}

@media only screen and (max-width: 730px) {
	h1 {
		font-size: 72px;
	}
	h2 {
		font-size: medium;
	}
	.hero-desc {
		width: 80%;
	}
	.house-option,
	.house-option img {
		width: 90px;
	}
	.house-option {
		padding: 15px 25px;
	}
	.house-option h3 {
		font-size: 18px;
	}
	.house-option li {
		margin: 6px auto;
		font-size: 11.5px;
	}
	.house-option i {
		display: block;
		margin: 4px 0px;
	}
	.house-option:hover {
		transform: scale(0.95);
	}
	.course-listing:nth-last-child(2) {
		grid-column-start: 2;
		margin: 0 auto;
	}
	.course-listing:last-child {
		grid-column-start: 3;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 600px) {
	.hero-nav {
		display: grid;
		grid-template-columns: repeat(2, auto);
	}
	.hero-nav i {
		font-size: 20px;
	}
	.house-heading p {
		width: 80%;
	}
	.house-wrapper {
		margin: 0px;
	}
	.house-content-expanded {
		border-radius: 0;
	}
	.house-desc {
		padding: 0;
	}

	.course-listing:nth-last-child(2) {
		grid-column-start: 1;
		grid-row-end: 2;
	}
	.course-listing:last-child {
		grid-column-start: 2;
	}
}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 52px;
	}

	input {
		width: 80%;
	}

	.house-option {
		padding: 40px;
	}

	.house-content-expanded {
		padding: 10px 6px;
	}

	.house-content-expanded li {
		line-height: 34px;
	}

	.house-desc img {
		width: 260px;
	}

	.house-desc p {
		width: 280px;
	}
	.raven-alumni,
	.slyth-alumni,
	.gryff-alumni,
	.huffle-alumni {
		width: 55px;
		margin: 0;
	}

	.form-container {
		padding: 20px;
	}

	.submission-response {
		width: 280px;
	}
	#apply-btn,
	#status-check-btn {
		margin: 10px 0;
		width: 86%;
	}
}
